/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu&family=Poppins:wght@400;600&display=swap');


/* Noto Sans Telugu (offline) */
@font-face {
  font-family: 'Noto Sans Telugu';
  src: url('/fonts/NotoSansTelugu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Poppins (offline) */
@font-face {
  font-family: 'PoppinsLocal';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'PoppinsLocal', 'Noto Sans Telugu', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background: #f2f6f4;
}
